<div class="card mb-6">
    <header class="card-header card-header-title">
        <div class="column">
            <p class=" has-text-primary-light"></p>
            <a href="/post/{{id}}" class="has-text-white is-capitalized is-pulled-left">{{post_title}} </a></p>
        </div>
        <div class="column">
            <span class=""> </span>
        </div>
    </header>

    <div class="card-content">
        <div class="content has-text-justified">
            {{post_title}} </br>
            {{post_content}}
        </div>
        <div class="is-pulled-right user-content">
            <b>{{user.username}}</b> 
            | {{format_date created_at}} | <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment"
                comments.length}}</a>
        </div>
        <!-- scripts for donate button -->
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
        <section>
            <div class="product">
                <div class="description">
                    <h4>Donate if you love this post!</h4>
                    <h5>$5.00</h5>
                </div>
            </div>
            <div class="buttons">
            <button class="button is-primary" id="checkout-button">Donate</button>
            </div><!-- closes button class -->
        </section>
        </body>
        <script src="/javascript/payment.js">
        // Create an instance of the Stripe object with your publishable API key

        </script>
    </div>